<div id="search-form">
	<%= form_tag('/search', method: 'get') do %>
		<%= label_tag(:zipcode, 'Zipcode') %>
		<%= text_field_tag(:zipcode) %>
		<%= submit_tag('Search') %>
	<% end %>
</div>
<div class="clear"></div>