<div class="match-wrap">
	<div class="match-content">

		<div class="match-box" id="match-1">
			<h3>My location</h3>
			<div class="match-input">
				<input type="text" id="zipcode" value="<%= session[:zipcode] %>">
				<button id="1">Next</button>
			</div>
		</div>

		<div class="match-box" id="match-2">
			<h3>I live in a/an</h3>
			<div class="match-input">
				<select name="home-type">
					<option value="none" selected>Please select one</option>
					<option value="house">House</option>
					<option value="apt">Apartment</option>
				</select>
				<button id="2">Next</button>
			</div>
		</div>

		<div class="progress"><div class="progress-status"></div></div>

	</div>
</div>

<%= javascript_tag do %>
matchForm();
<% end %>