// BASE COLOR: #336E7B

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear: both; }

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'PT Sans Narrow';
	background-color: #f5f5f5;
	color: #333;
}

.shadow { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.header {
	background-color: white;
	width: 100%;
	position: fixed;
	z-index: 2;
	height: 100px;
	.header-content {
		font-family: 'Roboto Slab';
		max-width: 1100px;
		margin: 0 auto;
		height: 100px;
		.logo {
			float: left;
			height: 100px;
			h1 {
				font-size: 30px;
				color: #336E7B;
				text-transform: uppercase;
				letter-spacing: 8px;
				line-height: 100px;
				small {
					font-size: 12px;
					color: darkgray;
					letter-spacing: 0px;
				}
			}
		}
		.menu {
			float: right;
			height: 100px;
			li {
				display: inline-block;
				line-height: 100px;
				font-size: 16px;
				margin-left: 5px;
				a {
					text-decoration: none;
					color: #336E7B;
				}
				a:hover {
					border-bottom: solid 2px;
				}
			}
		}
	}
}

.wrap {
	width: 100%;
}

.wrap-content {
	padding-top: 140px;
}

#pets-list {
	position: relative;
	width: 1100px;
	margin: 0 auto 25px;
	padding-bottom: 10px;
	.pet {
		width:188px;
		min-height:100px;
		background:#fff;
		margin:8px;
		font-size:12px;
		float:left;
		-webkit-transition: top 1s ease, left 1s ease;
		-moz-transition: top 1s ease, left 1s ease;
		-o-transition: top 1s ease, left 1s ease;
		-ms-transition: top 1s ease, left 1s ease;
		img {
			width: 100%;
		}
		.pet-content {
			overflow: hidden;
			padding: 5px;
			h3 {
				font-size: 16px;
				text-transform: uppercase;
				small {
					margin-left: 5px;
					font-size: 12px;
					color: gray;
				}
			}
			.breeds {
				margin-top: 5px;
				li {
					text-transform: uppercase;
					display: inline-block;
					padding: 4px;
					font-size: 12px;
					color: white;
					background-color: #52A4B7;
					margin-right: 3px;
					margin-bottom: 3px;
				}
			}
		}
	}
}

.content {
	max-width: 1100px;
	margin: 0 auto;
	.photos {
		float: left;
		width: 30%;
		#focused {
			width: 100%;
		}
		.thumb-box {
			margin-top: 5px;
			img {
				height: 65px;
				margin-right: 3px;
			}
		}
	}
	.pet-info {
		width: 65%;
		float: right;
		h3 {
			font-size: 30px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.breeds, .options {
			padding: 10px 0 15px 0;
			border-bottom: solid 1px lightgray;
			li {
				display: inline-block;
				background-color: #52A4B7;
				color: white;
				padding: 5px;
				margin-right: 3px;
				text-transform: uppercase;
			}
		}
		.options {
			border-bottom: none;
			li {
				background-color: orange;
			}
		}
		.description {
			margin: 15px 0 15px 0;
			font-family: 'Roboto Slab';
			line-height: 25px;
			font-size: 16px;
		}
	}
}

.match-wrap {
	padding-top: 100px;
}
.match-content {
	text-align: center;
	.match-box {
		width: 300px;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 50%;
		margin: -80px 0 0 -150px;
		display: none;
		h3 {
			font-family: 'Roboto Slab';
			font-size: 20px;
			line-height: 20px;
			text-transform: uppercase;
		}
		.match-input {
			margin-top: 20px;
			width: 100%;
			input[type="text"] {
				width: 280px;
				border: none;
				height: 20px;
				padding: 10px;
				font-size: 18px;
				text-align: center;
			}
			select {
				width: 300px;
				border: none;
				height: 40px;
				background-color: white;
				overflow: hidden;
				font-size: 18px;
			}
			button {
				width: 100%;
				height: 50px;
				font-family: 'Roboto Slab';
				font-size: 20px;
				color: white;
				background-color: #336E7B;
				margin-top: 20px;
				border: none;
				cursor: pointer;
			}
			button:hover {
				background-color: #52A4B7;
			}
		}
	}
}